src/*.exe
src/scorecoin
src/scorecoind
src/test_scorecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.scorecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
scorecoin-qt
Scorecoin-Qt.app

# Unit-tests
Makefile.test
scorecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
